extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = ""

block main
  header.header.header--agro-category.header--inner
    .container
      a(href="/").header__back
        +icon("arrow", 23, 22)
        span Назад
      h1.header__title.title.title--white Животноводство
      .header__arrow
        +icon("arrow", 23, 22)
      .header__inner-image
        +img("content", "header-agro-image", "png", 973, 580, "Декоративная картинка")
  main
    +search().search--agro-category
    +card-results(cardResults)
    .tabs.agro-category-tabs
      .container
        h2.tabs__title.title #[!=tabs.agroCategoryTabs.title] #[!="<br>"] #[span.tabs__subtitle!=tabs.agroCategoryTabs.subTitle]
        .tabs__element(data-tabs='element')
          - for (let i = 0; i < tabs.agroCategoryTabs.titles.length; i++)
            +card-tab(i)
    .map
      .container
        .map__title.title Карта Предприятий #[span!='ЖИВОТНОВОДСТВА']
      <div id="map" width="100%" data-red-coords='[[54.422251814108, 45.322027847298294], [54.43186044174936, 45.332327529915496]]' data-blue-coords='[[54.318013214108994, 44.4383150787436], [54.3035592216153, 44.46440760804048]]'></div>
block modals
