extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    header.header.header--main
      p.header__mobile-text каталог <br> промышленных <br> и аграрных предприятий <br> #[span!="республики Мордовия"]
      .header__red-image(class="rellax" data-rellax-speed="10")
        p каталог <br> промышленных <br> и аграрных предприятий <br> #[span!="республики Мордовия"]
        +img("content", `header-red-pattern`, "png", 1033, 755, 'Красный паттерн')
      .header__static-right(class="rellax" data-rellax-speed="7")
        +img("content", `header-static-right`, "png", 1089, 1089, 'Картинка в шапке')
      .header__static-left(class="rellax" data-rellax-speed="20")
        +img("content", `header-static-left`, "png", 908, 1000, 'Картинка в шапке')
      .header__blue-image(class="rellax" data-rellax-speed="4")
        +img("content", `header-blue`, "png", 712, 712, 'Синий ромб')
        .header__blue-content
          p А также высокое качество позиционных исследований позволяет выполнить важные задания по разработке.
          .header__arrow
            +icon("arrow", 33, 33)
      .header__animation-bottom-center(class="rellax" data-rellax-speed="7")
        +img("content", `header-animation-bottom-center`, "png", 417, 417, 'Картинка в шапке')
      .header__animation-bottom-right(class="rellax" data-rellax-speed="5")
        +img("content", `header-animation-bottom-right`, "png", 1280, 460, 'Картинка в шапке')
    +search().search--main
    +industry()
    +agricultural()
    +tabs().main-tabs
    article.banner.banner--red.banner--map
      .banner__content
        h2.banner__title Инвестиционная карта региона
        .banner__image
          +img("content", "decoration-map", "png", 522, 220, "Декоративная картинка")
        a.btn.btn--border(href="/") Открыть
    .map
      .container
        .map__title.title Карта Предприятий <br> #[span!="Республики МОРДОВИЯ"]
        .map__checkboxes
          .map__checkbox.map__checkbox--industrial
            <input class="visually-hidden" type="checkbox" id="industrial" name="industrial">
            <label for="industrial">Промышленные предприятия</label>
          .map__checkbox.map__checkbox--agro
            <input class="visually-hidden" type="checkbox" id="agro" name="agro">
            <label for="agro">Аграрные предприятия</label>
      <div id="map" width="100%"></div>

block modals
