extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  header.header.header--main
    p.header__mobile-text каталог <br> промышленных <br> и аграрных предприятий <br> #[span!="республики Мордовия"]
    .header__red-image(class="rellax" data-rellax-speed="10")
      p каталог <br> промышленных <br> и аграрных предприятий <br> #[span!="республики Мордовия"]
      +img("content", `header-red-pattern`, "png", 1033, 755, 'Красный паттерн')
    .header__static-right
      +img("content", `header-static-right`, "png", 1089, 1089, 'Картинка в шапке')
    .header__static-left
      img(src="img/content/header-static-left.png" width="908" height="1000" alt="Картинка в шапке" class="rellax" data-rellax-speed="20")
    .header__blue-image(class="rellax" data-rellax-speed="4")
      +img("content", `header-blue`, "png", 712, 712, 'Синий ромб')
      .header__blue-content
        p А также высокое качество позиционных исследований позволяет выполнить важные задания по разработке.
        .header__arrow
          +icon("arrow", 33, 33)
    .header__animation-bottom-center(class="rellax" data-rellax-speed="7")
      +img("content", `header-animation-bottom-center`, "png", 417, 417, 'Картинка в шапке')
    .header__animation-bottom-right(class="rellax" data-rellax-speed="5")
      +img("content", `header-animation-bottom-right`, "png", 1280, 460, 'Картинка в шапке')
  main
    +search().search--main
    +industry()
    +agricultural()
    article.banner
      .banner__content
        h2.banner__title Инвестиционные проекты АПК РМ
        .banner__image
          +img("content", "investment-projects-image", "png", 597, 219, "Декоративная картинка")
        a.btn.btn--red.btn--border(href="/") Подробнее
    +tabs().main-tabs
    article.banner.banner--red.banner--map
      .banner__content
        h2.banner__title Инвестиционная карта региона
        .banner__image
          picture
           source(srcset="img/content/decoration-map-mobile.png" media="(max-width: 767px)")
           img(src="img/content/decoration-map.png" width="522" height="220" alt="Декоративная картинка")
        a.btn.btn--border(href="/" target="_blank") Открыть
    .map
      .container
        .map__title.title Карта Предприятий <br> #[span!="Республики МОРДОВИЯ"]
        .map__checkboxes
          .map__checkbox.map__checkbox--industrial
            input(class="visually-hidden" type="checkbox" id="industrial" name="category" checked)
            label(for="industrial") Промышленные предприятия
          .map__checkbox.map__checkbox--agro
            input(class="visually-hidden" type="checkbox" id="agro" name="category" checked)
            label(for="agro") Аграрные предприятия
      <div id="map" width="100%" data-red-coords='' data-blue-coords='[[54.318013214108994, 44.4383150787436], [54.3035592216153, 44.46440760804048]]'></div>

block modals


//- 54.12936101036847,45.10371758275521
