mixin agricultural()
  section.agricultural()
    .container
      h2.agricultural__title.title() аграрные предприятия
      ul.agricultural__list
        - for (let i = 0; i < agriculturalCards.length; i++)
            li
              +industry-card(agriculturalCards[i]).industry-card--dark-blue
