mixin agricultural()
  section.agricultural()
    .container
      h2.agricultural__title.title() аграрные предприятия
      ul.agricultural__list
        - for (let i = 0; i < agriculturalCards.length; i++)
            li
              +industry-card(agriculturalCards[i]).industry-card--dark-blue
      article.banner
        .banner__content
          h2.banner__title Инвестиционные проекты АПК РМ
          .banner__image
            +img("content", "investment-projects-image", "png", 597, 219, "Декоративная картинка")
          a.btn.btn--red.btn--border(href="/") Подробнее

