mixin search(data)
  .search&attributes(attributes)
    .container
      .search__form
        form(action="" method="get")
          .search__input-container
            input.search__input(name="search" placeholder="Поиск" type="search")
            button.search__button.btn(type="submit")!="Искать"
