.map {
  &__title {
    max-width: 1150px;
    margin-bottom: 28px;

    @include vp-1563 {
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 24px;
      margin-bottom: 12px;

      & span {
        display: block;
      }
    }

    & span {
      color: $color-mandarian-orange;

      @include vp-767 {
        margin-top: 10px;
      }
    }
  }

  #map {
    width: 100%;
    height: 500px;

    & > ymaps:not(:first-child) {
      display: none;
    }

    & ymaps[class*="user-selection-none"] {
      margin-top: 0!important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & ymaps[class*="balloon__layout"] {
      background: linear-gradient(235deg, #B30505 11.73%, #640606 107.04%);
      overflow: visible;
    }

    & ymaps[class*="balloon__close"] {
      float: none;
      position: static;
    }

    & ymaps[class*="balloon__close-button"] {
      position: absolute;
      width: 31px;
      height: 31px;
      transition: opacity $trans-default;
      background-color: #002940;
      border-radius: 50%;
      opacity: 1;
      background-image: url('../img/svg/close.svg');
      background-size: 16px 16px;
      z-index: 2;
      top: -12px;
      right: -15px;
      background-position: center;

      &:hover {
        opacity: 0.7;
      }
    }

    & ymaps[class*="balloon_layout_panel"] {
      right: auto;
      left: 50%;
      min-width: 280px;
      max-width: 320px;
      background-color: $color-transparent;
      overflow: visible !important;
      width: calc(100% - 40px);
      transform: translateX(-50%);
    }

    & ymaps[class*="balloon_layout_normal"] {
      @include vp-767 {
        min-width: 280px;
        max-width: 320px;
        transform: translateX(-10px);
      }

      @media (max-width: 359px) {
        width: calc(100% - 40px);
      }
    }

    & ymaps[class*="balloon__content"] {
      background: linear-gradient(235deg, #B30505 11.73%, #640606 107.04%);
      padding: 15px;
      margin-right: 0;
      min-width: 238px;
      max-height: 350px;
      overflow: auto;

      & ymaps:first-child {
        width: inherit !important;
        height: auto !important;
      }

      & ymaps[class*="balloon-content__header"] {
        margin-bottom: 17px;
      }

      & ymaps[class*="balloon-content__footer"] {
        margin-top: 0;
      }

      & .balloon-title,
      & .balloon-subtitle {
        color: $color-default-white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
        margin: 0;
      }

      & .balloon-title {
        margin-bottom: 7px;
      }

      & .balloon-subtitle {
        font-weight: 400;


        & span {
          color: $color-provincial-pink;
        }
      }

      & .balloon-address {
        margin: 0 0 11px;
        color: $color-default-white;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%;
        max-width: 238px;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        word-break: break-word;

        @include vp-767 {
          max-width: 233px;
        }
      }

      & .balloon-contacts {
        margin: 0 0 17px;
        color: $color-default-white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 110%;
      }

      & .balloon-button {
        font-family: Montserrat;
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
          display: none;
        }

        @include vp-1563 {
          padding: 19px 20px;
        }
      }

      & .cluster-info {
        margin-right: 7px;
        padding-bottom: 5px;
        width: 238px;

        & .balloon-subtitle {
          font-size: 10px;
        }
      }

      & .cluster-list {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      & .cluster-item {
        display: flex;
        border-bottom: 1px solid $color-roman;
        padding-bottom: 10px;

        &:not(:first-child) {
          margin-top: 17px;
        }

        & .balloon-button {
          width: 178px;
          height: 53px;
          font-family: Montserrat;
          font-size: 14px;
          padding: 14px !important;
          display: flex;
          align-items: center;
          justify-content: center;

          & svg {
            display: none;

            @include vp-767 {
              display: block;
            }
          }

          & span {
            @include vp-767 {
              display: none;
            }
          }

          @include vp-767 {
            width: 56px;
            padding: 9px !important;
            min-width: auto;
          }
        }
      }

      @include vp-767 {
        padding-right: 15px;
        margin-right: 0;
        max-height: 250px;
      }
    }

    @include vp-1563 {
      margin-top: 34px;
    }

    @include vp-767 {
      margin-top: 0;
      height: 310px;
    }
  }

  & .container {
    @include vp-1563 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 20px;
      row-gap: 20px;
      padding-right: 82px;
    }

    @include vp-767 {
      flex-direction: column;
      row-gap: 0;
      padding-right: 20px;
    }
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 10px;
    margin-bottom: 39px;

    @include vp-1563 {
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 13px;
      margin-bottom: 0;
    }

    @include vp-767 {
      margin-bottom: 24px;
      row-gap: 10px;
    }
  }

  &__checkbox {
    &--industrial {
      & label {
        &::before {
          background-color: $color-mandarian-orange;
        }
      }
    }

    &--agro {
      & label {
        &::before {
          background-color: $color-black-pearl-2;
        }
      }
    }

    & input:checked+label::after {
      opacity: 1;
    }

    & label {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      color: $color-tangaroa;
      cursor: pointer;
      transition: opacity $trans-default;
      display: flex;
      align-items: center;
      position: relative;

      @include vp-1563 {
        font-size: 16px;
      }

      @include vp-767 {
        font-size: 14px;
      }

      @include hover {
        opacity: 0.7;
      }

      &::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        margin-right: 14px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
        transition: background-image $trans-default;
      }

      &::after {
        opacity: 0;
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
        background-image: url("./../img/svg/checkmark.svg");
        transition: opacity $trans-default;
      }
    }
  }
}

[class*="copyrights-pane"] {
  display: none !important;
}
