mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__content
        h2.footer__title каталог <br> промышленных <br> и аграрных предприятий
        span.footer__appreciate Выражает благодарность
        p.footer__text Разнообразный и богатый опыт говорит нам, что существующая теория способствует повышению качества направлений прогрессивного развития. <br> <br> Кстати,  стремящиеся вытеснить традиционное производство, нанотехнологии обнародованы. Также как укрепление и развитие внутренней структуры, в своём классическом представлении, допускает внедрение новых принципов формирования материально-технической и кадровой базы. В рамках спецификации современных стандартов, действия представителей.
      .footer__outro
        span Министерство промышленности республики Мордовия | 2023
      .footer__image
        +img("content", "footer-image", "png", 428, 638, "Декоративная картинка")
