mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__content
        h2.footer__title каталог <br> промышленных <br> и аграрных предприятий
        p.footer__text Здесь представлены ведущие компании, специализирующиеся на производстве промышленных товаров и развитии сельского хозяйства.<br><br> Наш каталог – это мост между бизнесом и потребителями, обеспечивающий доступ к качественной продукции и передовым технологиям. Мы гордимся тем, что способствуем развитию экономики региона и налаживанию деловых связей. Откройте для себя мир возможностей с каталогом промышленных и аграрных предприятий Республики Мордовия.
      .footer__outro
        span Республика Мордовия | 2023
      .footer__image
        +img("content", "footer-image", "png", 428, 638, "Декоративная картинка")
