-
  const agriculturalCards = [
    {
      title: "Животноводство",
      subtitle: "",
      companyNumber: 15,
      href: "/",
    },
    {
      title: "Перерабатывающая",
      subtitle: "промышленность",
      companyNumber: 18,
      href: "/",
    },
    {
      title: "Пищевая",
      subtitle: "промышленность",
      companyNumber: 8,
      href: "/",
    },
    {
      title: "Растениеводство",
      subtitle: "",
      companyNumber: 12,
      href: "/",
    },
  ]
