-
  var banners = {
    investmentProjects: {
      title: "Инвестиционные проекты АПК РМ",
      image: "investment-projects-image",
      width: 597,
      height: 219,
      href: "/",
      buttonText: "Подробнее",
    },
    secondStep: {
      title: "Инвестиционные проекты АПК РМ",
      image: "investment-projects-image",
      width: 597,
      height: 219,
      href: "/"
    },
  }
