-
  const cardResults = [
    {
      title: 'АО "АРДАТОВСКИЙ СВЕТОТЕХНИЧЕСКИЙ ЗАВОД"',
      text: "АО «Ардатовский светотехнический завод» имеет более 3000 моделей световых приборов. Выпускаются светильники для общественного, промышленного, специального и уличного освещения. Производство признано соответствующим стандарту менеджмента качества ISO 9001- 2015.",
      volume: "1 000 940",
      tags: ["Светильники", "Осветительные комплексы", "прожектора"],
      image: "first",
    },
    {
      title: 'АО "АРДАТОВСКИЙ СВЕТОТЕХНИЧЕСКИЙ ЗАВОД"',
      text: "АО «Ардатовский светотехнический завод» имеет более 3000 моделей световых приборов. Выпускаются светильники для общественного, промышленного, специального и уличного освещения. Производство признано соответствующим стандарту менеджмента качества ISO 9001- 2015.",
      volume: "1 000 940",
      tags: ["Светильники", "Осветительные комплексы", "прожектора"],
      image: "first",
    },
    {
      title: 'АО "АРДАТОВСКИЙ СВЕТОТЕХНИЧЕСКИЙ ЗАВОД"',
      text: "АО «Ардатовский светотехнический завод» имеет более 3000 моделей световых приборов. Выпускаются светильники для общественного, промышленного, специального и уличного освещения. Производство признано соответствующим стандарту менеджмента качества ISO 9001- 2015.",
      volume: "1 000 940",
      tags: ["Светильники", "Осветительные комплексы", "прожектора"],
      image: "first",
    },
    {
      title: 'АО "АРДАТОВСКИЙ СВЕТОТЕХНИЧЕСКИЙ ЗАВОД"',
      text: "АО «Ардатовский светотехнический завод» имеет более 3000 моделей световых приборов. Выпускаются светильники для общественного, промышленного, специального и уличного освещения. Производство признано соответствующим стандарту менеджмента качества ISO 9001- 2015.",
      volume: "1 000 940",
      tags: ["Светильники", "Осветительные комплексы", "прожектора"],
      image: "first",
    },
    {
      title: 'АО "АРДАТОВСКИЙ СВЕТОТЕХНИЧЕСКИЙ ЗАВОД"',
      text: "АО «Ардатовский светотехнический завод» имеет более 3000 моделей световых приборов. Выпускаются светильники для общественного, промышленного, специального и уличного освещения. Производство признано соответствующим стандарту менеджмента качества ISO 9001- 2015.",
      volume: "1 000 940",
      tags: ["Светильники", "Осветительные комплексы", "прожектора"],
      image: "first",
    },
  ]
