-
  const industryCards = [
    {
      title: "металлообработка",
      subtitle: "и Машиностроение",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "Кабельно-проводниковая",
      subtitle: "продукция",
      companyNumber: 18,
      href: "/",
    },
    {
      title: "Светотехническая",
      subtitle: "продукция",
      companyNumber: 8,
      href: "/",
    },
    {
      title: "Электрическое",
      subtitle: "Электрическое",
      companyNumber: 12,
      href: "/",
    },
    {
      title: "приборостроение",
      subtitle: "и Электроника",
      companyNumber: 7,
      href: "/",
    },
  ]
