-
  const industryCards = [
    {
      title: "металлообработка",
      subtitle: "и Машиностроение",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "Кабельно-проводниковая",
      subtitle: "продукция",
      companyNumber: 18,
      href: "/",
    },
    {
      title: "Светотехническая",
      subtitle: "продукция",
      companyNumber: 8,
      href: "/",
    },
    {
      title: "Электрическое",
      subtitle: "Электрическое",
      companyNumber: 12,
      href: "/",
    },
    {
      title: "приборостроение",
      subtitle: "и Электроника",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "Резиновые, <br> пластиковые, <br> стеклокомпозитные",
      subtitle: "Изделия",
      companyNumber: 3,
      href: "/",
    },
    {
      title: "Химические <br> материалы",
      subtitle: "микробиология",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "Фармацевтика",
      subtitle: "и мед. препараты",
      companyNumber: 6,
      href: "/",
    },
     {
      title: "Строительные",
      subtitle: "Материалы",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "Мебель",
      companyNumber: 15,
      href: "/",
    },
    {
      title: "Товары",
      subtitle: "для благоустройства",
      companyNumber: 27,
      href: "/",
    },
    {
      title: "Изделия",
      subtitle: "из стекла",
      companyNumber: 16,
      href: "/",
    },
    {
      title: "ЦЕЛЛЮЛОЗНО-БУМАЖНАЯ",
      subtitle: "ПРОДУКЦИЯ",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "Швейные, ткацкие, кожаные",
      subtitle: "Изделия",
      companyNumber: 3,
      href: "/",
    },
    {
      title: "Народные <br> промыслы",
      subtitle: "сувениры",
      companyNumber: 7,
      href: "/",
    },
    {
      title: "ПРОЧЕЕ",
      companyNumber: 7,
      href: "/",
    },
  ]
