-
  var tabs = {
    mainTabs: {
      title: "ТОП - 15 УНИКАЛЬНЫХ товаров",
      subTitle: "Республики МОРДОВИЯ",
      tabsTitles: ["лидеры по объёму", "инновации", "импортозамещение", "агротовары"],
      images: ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth", "nineth", "tenth", "eleventh", "twelfth", "thirteenth", "fourteenth", "fifteenth"],
      titles: ["Оптоволоконный кабель", "Плиты перекрытия", "Лекарственные препараты", "Мебель из массива", "Безгалогенные компаунды HFFR", "Березовая фанера", "Кирпич керамический", "Световые конструкции", "Автомобильные регуляторы напряжения", "Преобразовательная техника для ж/д транспорта", "Приборы на основе арсенида-галлия", "Зарядная станция для зарядки электротранспорта", "Датчики-реле температуры", "Дифференциальные манометры", "Прокатные станы"]
    },
    industryCategoryTabs: {
      title: 'ТОП - 15 УНИКАЛЬНЫХ товаров <br> отрасли',
      subTitle: "СВЕТОТЕХНИЧЕСКОЙ <br> ПРОДУКЦИИ",
      tabsTitles: ["лидеры по объёму", "инновации", "импортозамещение", "агротовары"],
      images: ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth", "nineth", "tenth", "eleventh", "twelfth", "thirteenth", "fourteenth", "fifteenth"],
      titles: ["Оптоволоконный кабель", "Плиты перекрытия", "Лекарственные препараты", "Мебель из массива", "Безгалогенные компаунды HFFR", "Березовая фанера", "Кирпич керамический", "Световые конструкции", "Автомобильные регуляторы напряжения", "Преобразовательная техника для ж/д транспорта", "Приборы на основе арсенида-галлия", "Зарядная станция для зарядки электротранспорта", "Датчики-реле температуры", "Дифференциальные манометры", "Прокатные станы"]
    },
    enterpriseTabs: {
      title: 'АО "АРДАТОВСКИЙ <br> СВЕТОТЕХНИЧЕСКИЙ ЗАВОД"',
      subTitle: "ТОП товаров",
      tabsTitles: ["лидеры по объёму", "инновации", "импортозамещение", "агротовары"],
      images: ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth", "nineth", "tenth", "eleventh", "twelfth", "thirteenth", "fourteenth", "fifteenth"],
      titles: ["Оптоволоконный кабель", "Плиты перекрытия", "Лекарственные препараты", "Мебель из массива", "Безгалогенные компаунды HFFR", "Березовая фанера", "Кирпич керамический", "Световые конструкции", "Автомобильные регуляторы напряжения", "Преобразовательная техника для ж/д транспорта", "Приборы на основе арсенида-галлия", "Зарядная станция для зарядки электротранспорта", "Датчики-реле температуры", "Дифференциальные манометры", "Прокатные станы"]
    },
    agroCategoryTabs: {
      title: 'ТОВАРЫ <br> ЖИВОТНОВОДСТВА',
      subTitle: "Республики Мордовии",
      tabsTitles: ["лидеры по объёму", "инновации", "импортозамещение", "агротовары"],
      images: ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth", "nineth", "tenth", "eleventh", "twelfth", "thirteenth", "fourteenth", "fifteenth"],
      titles: ["Оптоволоконный кабель", "Плиты перекрытия", "Лекарственные препараты", "Мебель из массива", "Безгалогенные компаунды HFFR", "Березовая фанера", "Кирпич керамический", "Световые конструкции", "Автомобильные регуляторы напряжения", "Преобразовательная техника для ж/д транспорта", "Приборы на основе арсенида-галлия", "Зарядная станция для зарядки электротранспорта", "Датчики-реле температуры", "Дифференциальные манометры", "Прокатные станы"]
    },
    agroEnterpriseTabs: {
      title: 'ОАО «Хорошее дело»',
      subTitle: "ТОВАРЫ",
      tabsTitles: ["лидеры по объёму", "инновации", "импортозамещение", "агротовары"],
      images: ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth", "nineth", "tenth", "eleventh", "twelfth", "thirteenth", "fourteenth", "fifteenth"],
      titles: ["Оптоволоконный кабель", "Плиты перекрытия", "Лекарственные препараты", "Мебель из массива", "Безгалогенные компаунды HFFR", "Березовая фанера", "Кирпич керамический", "Световые конструкции", "Автомобильные регуляторы напряжения", "Преобразовательная техника для ж/д транспорта", "Приборы на основе арсенида-галлия", "Зарядная станция для зарядки электротранспорта", "Датчики-реле температуры", "Дифференциальные манометры", "Прокатные станы"]
    },
  }
