//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Data

include ./data/industry-cards.pug
include ./data/agricultural-cards.pug
include ./data/banners.pug
include ./data/tabs.pug
include ./data/card-results.pug

//- Blocks

include ./blocks/industry.pug
include ./blocks/agricultural.pug
include ./blocks/tabs.pug
include ./blocks/search.pug
include ./blocks/card-results.pug

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/industry-card
include ./mixins/banner
include ./mixins/card-tab
include ./mixins/card-result
